body{
    display: flex;
    flex-direction: column;    
    justify-content: center;
    padding-top: 70px;
    padding-left: 33%;
}

#logo{
    width: 500px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}
 .head_logo{
    width: 55px;
    width: 55px;
 }

#principal{
    width: 500px;
    height: 60vh;   
    border:solid 2px black;
}

#titulo{
    border: solid 2px red;
}

#container{
    display: flex;
    height: 50%;
}

#menu{
    border: solid 2px red;
    display: flex;
    flex-direction: column;
    
    
    padding: 7px 7px;
}

#dados{
    display:flex;
    flex-grow: 1;
    border: solid 2px red;
}

