body{
    display: flex;
    flex-direction: column;    
    justify-content: center;
    padding-top: 70px;
    padding-left: 33%;
}

#logo{
    width: 500px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}
 .head_logo{
    width: 55px;
    width: 55px;
 }

#principal{
    width: 500px;
    height: 60vh;   
    border:solid 2px black;
}

#titulo{
    border: solid 1px black;
}

#container{
    display: flex;
    height: 50%;
}

#menu{
    display: flex;
    flex-direction: column;
    padding: 7px 7px;
    border: solid 1px black;
}

#dados{
    display:flex;
    flex-grow: 1;
    border: solid 1px black;
}

#pe{
    display: flex;
    align-items: center;
}

.etiqueta{
    font-size: 12px;
    font-weight: 400;
}

.informacoes{
    background-color: rgb(231, 228, 187);
    padding-left: 5px; 
    font-size: 10px;
    display: flex;
    justify-content: center;
}